.topbar .logo{
	float:left;
	overflow:hidden;
	width:378px;
	margin: 15px 5px 15px 5px;
}
.topbar .logo a{ display:block; height:auto; width:100%;}
.topbar .logo a img {
	width:100%;
	height:auto;
}
.main {
	width: 1200px;
	margin: auto;
	padding-top: 40px;
}

.main .left {
	float: left;
	width: 800px;
}

.main .right {
	float: left;
	width: 360px;
	margin-left: 40px;
	margin-bottom: 40px;
}


.list ul li {
	position: relative;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ddd;
}

.list ul li:after {
	content: "";
	clear: both;
	display: block;
}

.list-title {
	line-height: 80px;
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.list-image {
	overflow: hidden;
	width: 240px;
	height: 135px;
	float: left;
	margin-right: 30px;
	box-shadow: 0 0 1px #000;
}

.list-image img {
	width: 100%;
	height: 100%;
}


.list-content {
	text-indent: 2rem;
	overflow: hidden;
	max-height: 135px;
	/*float: left;*/
	line-height: 27px;
	color: #666;
	margin-bottom: 20px;
}

.list-content span {
	position: absolute;
	right: 0;
	bottom: 30px;
	color: #999;
	font-size: 12px;
	background: url(../images/symbol-9.png) no-repeat 0 4px;
}

.grayborder {
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
}

.more-button {
	width: 200px;
	height: 60px;
	line-height: 60px;
	margin: 40px auto;
	text-align: center;
	color: #999999;
	cursor: pointer;
}

.active ul {
	width: 825px;
}

.active ul li {
	float: left;
	width: 245px;
	margin-top: 30px;
	margin-right: 30px;
}

.active-image {
	overflow: hidden;
	width: 245px;
	height: 245px;
}

.active-image img {
	width: 100%;
	height: 100%;
}

.active-title {
	overflow: hidden;
	font-size: 16px;
	height: 60px;
	line-height: 30px;
	margin: 10px;
}
